<header>
  <h1>Book Finder</h1>
  <p>Data provided by <a href="https://openlibrary.org/" target="_blank">Open Library</a></p>
  <input (keyup)="inputText($event.target.value)" class="search-box" [(ngModel)]="searchTerm" type="text" placeholder="Search" />
</header>
<span *ngIf="searching" class="spinner"></span>
<div class="book-container">
  <p *ngIf="books.length==0&&!hasError">There are no results to display</p>
  <p class="error" *ngIf="hasError">There was an error on the server. Please try again.</p>
  <div *ngFor="let book of books" class="book-card">
    <img src="{{book.coverUrl}}" />
    <div class="book-details">
      <div class="title">{{book.title}}</div>
      <div class="author">by {{book.author}}</div>
      <div class="year">{{book.published}}</div>
    </div>
  </div>
</div>
<footer>
 <input (click)="newPage(-1)" [disabled]="searching||disablePrevious" type="button" value="Previous" />Page {{pageNumber}} of {{totalPages}}<input (click)="newPage(1)" [disabled]="searching||disableNext" type="button" value="Next" />
</footer>
