:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
footer input{
  margin: 5px;
  width: 60px;
}
header{
  background-color: #000066;
  color: white;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
header a{
  color: white;
  text-decoration: underline;
}
.search-box{
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
}
.spinner{
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
  height: 20px;
  width: 20px;
  animation: rotate 1s infinite linear;
  border: 5px solid #000066;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
.book-container{
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
.error{
  color: red;
}
.book-card{
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin: 10px;
}
.book-card > img{
  width: 150px;
  display: block;
}
.book-card>.book-details{
  padding: 10px;
  background-color: white;
}
.title{
  font-weight: bold;
}
